{% extends "welcome.twig" %}
{% block content %}
	<a href="http://mng.cc" title="miniCMS v3.2" target="_blank"><img src="images/mbm_logo.png" alt="miniCMS v3.2"></a>
	<h1>{{ lang.developing }}.</h1>
{% endblock %}