/*
    Created on : Dec 23, 2013, 6:27:57 PM
    Author     : decoder
*/

html{
    margin: 0 0 0 0;
}

body{
    font:{
        color: #646464;
        size: 11px;
        family: Tahoma;
    }
    background-color: #e2e2e2;
}
