RewriteEngine On


#www ruu shideh
RewriteCond %{HTTP_HOST} ^(?!www\.)(.+) [NC]
RewriteRule ^(.*) http://www.%1/$1 [R=301,NE,L]

# routes we don't want to be rewritten.
# include your custom routes, separated by |
RewriteCond %{REQUEST_URI} !^/(assets|public)
RewriteRule ^(.*)$ index.php?url=%{REQUEST_URI} [QSA,L]
